### Dataimport, cleaning and overview

In [18]:

# Datahandling

!pip install wordcloud

import requests
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from wordcloud import WordCloud

Collecting wordcloud
  Downloading wordcloud-1.9.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.6.1 in /opt/anaconda3/lib/python3.12/site-packages (from wordcloud) (1.26.4)
Requirement already satisfied: pillow in /opt/anaconda3/lib/python3.12/site-packages (from wordcloud) (10.3.0)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.12/site-packages (from wordcloud) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib->wordcloud) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib->wordcloud) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib->wordcloud) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib->wordcloud) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Downloading wordcloud-1.9.4-cp312-cp312-macosx_11_0_arm64.whl (168 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 168.9/168.9 kB 1.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: wordcloud
Successfully installed wordcloud-1.9.4

ModuleNotFoundError: No module named 'wordcloud'

In [4]:
# Data import: 
data = pd.read_csv('detection_data.csv')

In [5]:
data.head()

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,False,1,Adkinston,2020-05-11 15:29:50,NaN
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,True,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,True,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,True,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,False,1,Camachoville,2020-04-13 21:24:21,foreign mention

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User ID         50000 non-null  int64
 1   Username        50000 non-null  object
 2   Tweet           50000 non-null  object
 3   Retweet Count   50000 non-null  int64
 4   Mention Count   50000 non-null  int64
 5   Follower Count  50000 non-null  int64
 6   Verified        50000 non-null  bool
 7   Bot Label       50000 non-null  int64
 8   Location        50000 non-null  object
 9   Created At      50000 non-null  object
 10  Hashtags        41659 non-null  object
dtypes: bool(1), int64(5), object(5)
memory usage: 3.9+ MB

In [11]:
# Display the shape of the original DataFrame
print("Original DataFrame shape:", data.shape)

# Drop rows with any missing values
data_cleaned = data.dropna()

# Display the shape of the cleaned DataFrame
print("Cleaned DataFrame shape:", data_cleaned.shape)

# Check for any remaining missing values
missing_values_after = data_cleaned.isnull().sum()
print("\nMissing values in each column after dropping rows:")
print(missing_values_after)

Original DataFrame shape: (50000, 11)
Cleaned DataFrame shape: (41659, 11)

Missing values in each column after dropping rows:
User ID           0
Username          0
Tweet             0
Retweet Count     0
Mention Count     0
Follower Count    0
Verified          0
Bot Label         0
Location          0
Created At        0
Hashtags          0
dtype: int64

### Descriptive statistics

In [15]:
# Basic descriptive statistics for numerical columns
numerical_stats = data_cleaned.describe()
print("Basic Descriptive Statistics for Numerical Columns:")
print(numerical_stats)

Basic Descriptive Statistics for Numerical Columns:
             User ID  Retweet Count  Mention Count  Follower Count  \
count   41659.000000   41659.000000   41659.000000    41659.000000
mean   548640.613097      49.950911       2.515207     4990.867928
std    259990.806985      29.195286       1.709249     2880.947193
min    100025.000000       0.000000       0.000000        0.000000
25%    321829.500000      25.000000       1.000000     2493.500000
50%    548396.000000      50.000000       3.000000     4997.000000
75%    772751.500000      75.000000       4.000000     7475.500000
max    999995.000000     100.000000       5.000000    10000.000000

          Bot Label
count  41659.000000
mean       0.500204
std        0.500006
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

In [16]:
# Descriptive statistics for categorical columns
categorical_stats = data_cleaned.describe(include=['object'])
print("\nDescriptive Statistics for Categorical Columns:")
print(categorical_stats)

Descriptive Statistics for Categorical Columns:
       Username                                              Tweet  \
count     41659                                              41659
unique    34700                                              41659
top      ksmith  Authority research natural life material staff...
freq         18                                                  1

            Location           Created At Hashtags
count          41659                41659    41659
unique         22333                41652    34247
top     Lake Michael  2020-11-21 14:03:59     area
freq              37                    2       21

In [13]:
# Summary of specific columns
summary_columns = data_cleaned[['Retweet Count', 'Follower Count', 'Mention Count']].describe()
print("\nSummary of Specific Columns (Retweet Count, Follower Count, Mention Count):")
print(summary_columns)

Summary of Specific Columns (Retweet Count, Follower Count, Mention Count):
       Retweet Count  Follower Count  Mention Count
count   41659.000000    41659.000000   41659.000000
mean       49.950911     4990.867928       2.515207
std        29.195286     2880.947193       1.709249
min         0.000000        0.000000       0.000000
25%        25.000000     2493.500000       1.000000
50%        50.000000     4997.000000       3.000000
75%        75.000000     7475.500000       4.000000
max       100.000000    10000.000000       5.000000

In [14]:
# Count of unique values in each column
unique_counts = data_cleaned.nunique()
print("\nCount of Unique Values in Each Column:")
print(unique_counts)

Count of Unique Values in Each Column:
User ID           41659
Username          34700
Tweet             41659
Retweet Count       101
Mention Count         6
Follower Count     9830
Verified              2
Bot Label             2
Location          22333
Created At        41652
Hashtags          34247
dtype: int64

# Exploratory Data Analysis (EDA)